/* Form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12rem 2.5%;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-position: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    background-color: var(--color-white-translucid);

    & h3 {
        font-size: var(--font-size-large);
        text-align: center;
    }
}

/* Input */
.input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1.6rem;

    & input {
        height: 4rem;
        width: calc(100% - 12.6rem);
        padding: 0 1.6rem;
        font-size: var(--font-size-small);
        }
        
        & button {
        width: 12.6rem;
        padding: .7rem 0;
        font-size: var(--font-size-small);
        font-weight: 700;
    }
}

/* Responsive */
@media (width <= 460px) {
    form {
        padding: 4rem 2.8rem;
    }

  .input {
    flex-direction: column;
    gap: 1.6rem;

    & input {
        width: 100%;
    }
  }
}