/* Form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(../imagens/fundo.jpg);
}

form {
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem;
    background-color: var(--color-white-translucid);

    & h3 {
        font-size: var(--font-size-large);
    }
}

/* Input */
.input {
    width: 100%;
}
