/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2.5%;
  background-color: var(--color-dark-green);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  & h1 {
    font-size: var(--font-size-medium);
    color: var(--color-white);
  }
}

/* Navigation */
nav {
  & ul {
    display: flex;
    gap: 2rem;

    & li {
        font-size: var(--font-size-small);
    }
  }
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

/* Card List */
.card-list {
  display: flex;
  width: 95%;
  gap: 2rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  & h2 {
    margin-bottom: 2rem;
  }

  & p {
    margin-bottom: 1rem;
  }

  & img {
    width: 100%;
  }
}

/* Button */
.btn {
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--color-dark-green);
}
