/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 2.5%;
  background-color: var(--color-dark-green);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  & h1 {
    font-size: var(--font-size-medium);
    color: var(--color-white);
  }
}

/* Navigation */
nav {
  & ul {
    display: flex;
    gap: 2rem;

    & a {
      font-size: var(--font-size-small);
      transition: .6s;

      &:hover {
        color: var(--color-black);
      }
    }
  }
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

/* Card List */
.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  gap: 4rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 22%;

  & h2 {
    margin: 1.6rem 0;
    font-size: var(--font-size-medium);
  }

  & p {
    margin-bottom: .8rem;
  }

  & img {
    width: 100%;
  }
}

/* Button */
.btn {
  padding: .8rem 1.6rem;
  border-radius: 0.4rem;
  color: var(--color-white);
  background-color: var(--color-dark-green);
  border: .2rem solid var(--color-dark-green);
  transition: .6s;
  
  &:hover {
    color: var(--color-dark-green);
    background-color: var(--color-white);
  }
}

/* Responsive */
@media (width <= 1052px) {
  .card {
    width: 45%;
  }
}

@media (width <= 768px) {
  .header {
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (width <= 590px) {
  nav {
    display: none;
  }

  .card-list {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}
